#legend {
    text-align: center;
    font-size: 50px;
    text-decoration: solid;
}
div {
    width: 100%;
    text-align: center;
    margin: 10px;
}
.label{
    font-size: 20px;

}
#inputOne{
    width: 40px;
    font-size: 20px;
    margin: auto;
    padding: 4px 40px;
    color: #fff;
    background-color: #000;
}
#inputTwo{
    width: 40px;
    font-size: 20px;
    margin: auto;
    padding: 4px 40px;
    color: #fff;
    background-color: #000;
}
button {
    margin: 20px;
    padding: 7px 40px;
    border-radius: 10px 0px 10px 0px;
    color: #000;
    background-color: #fff;
}


#display{
    text-align: center;
    color: darkcyan;
    font-size: 40px;
}